(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("/home/jtroth/school/26f/ee5327/fft/sim/gen/vcd/current.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "tb_r4_fft_top",
                "uut",
                "gen_r4_stages[0]",
                "u_bf4_core",
            ],
            id: Wellen((8)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (61),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (57),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (58),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (59),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (63),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (64),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (65),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (66),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (68),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (69),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (70),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (72),
                    level: 0,
                    unfolded: true,
                    selected: true,
                ),
                (
                    item_ref: (71),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (73),
                    level: 0,
                    unfolded: true,
                    selected: true,
                ),
            ],
        ),
        displayed_items: {
            (71): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r4_fft_top",
                            "uut",
                            "gen_r4_stages[0]",
                            "u_bf4_core",
                        ],
                        id: Wellen((8)),
                    ),
                    name: "diff_re",
                    id: Wellen((58)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "diff_re [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: Some((
                    settings: (
                        render_style: Step,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (59): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r4_fft_top",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "m_tdata_re",
                    id: Wellen((3)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "m_tdata_re [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: Some((
                    settings: (
                        render_style: Step,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (73): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r4_fft_top",
                            "uut",
                            "gen_r4_stages[0]",
                            "u_bf4_core",
                        ],
                        id: Wellen((8)),
                    ),
                    name: "diff_re_sum",
                    id: Wellen((79)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "diff_re_sum [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: Some((
                    settings: (
                        render_style: Step,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (68): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r4_fft_top",
                            "uut",
                            "gen_r4_stages[0]",
                            "u_bf4_core",
                        ],
                        id: Wellen((8)),
                    ),
                    name: "twiddle_rom_selected",
                    id: Wellen((88)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "twiddle_rom_selected [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: Some((
                    settings: (
                        render_style: Step,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (57): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r4_fft_top",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "m_axis_tvalid",
                    id: Wellen((5)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "m_axis_tvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (61): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r4_fft_top",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "rst_n",
                    id: Wellen((16)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "rst_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (64): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r4_fft_top",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "s_tdata_im",
                    id: Wellen((2)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "s_tdata_im [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: Some((
                    settings: (
                        render_style: Step,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (65): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r4_fft_top",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "s_tdata_re",
                    id: Wellen((1)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "s_tdata_re [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: Some((
                    settings: (
                        render_style: Step,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (66): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r4_fft_top",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sample_idx",
                    id: Wellen((21)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "sample_idx [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: Some((
                    settings: (
                        render_style: Step,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (72): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r4_fft_top",
                            "uut",
                            "gen_r4_stages[0]",
                            "u_bf4_core",
                        ],
                        id: Wellen((8)),
                    ),
                    name: "diff_im_sum",
                    id: Wellen((78)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "diff_im_sum [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: Some((
                    settings: (
                        render_style: Step,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (69): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r4_fft_top",
                            "uut",
                            "gen_r4_stages[0]",
                            "u_bf4_core",
                        ],
                        id: Wellen((8)),
                    ),
                    name: "twiddle_baseline",
                    id: Wellen((87)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "twiddle_baseline [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: Some((
                    settings: (
                        render_style: Step,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (63): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r4_fft_top",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "s_axis_tvalid",
                    id: Wellen((18)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "s_axis_tvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (58): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r4_fft_top",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "m_tdata_im",
                    id: Wellen((4)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "m_tdata_im [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: Some((
                    settings: (
                        render_style: Step,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (70): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r4_fft_top",
                            "uut",
                            "gen_r4_stages[0]",
                            "u_bf4_core",
                        ],
                        id: Wellen((8)),
                    ),
                    name: "diff_im",
                    id: Wellen((59)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "diff_im [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: Some((
                    settings: (
                        render_style: Step,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
        },
        display_item_ref_counter: 73,
        viewports: [
            (
                curr_left: (-0.2),
                curr_right: (1.2),
                target_left: (-0.2),
                target_right: (1.2),
                move_start_left: (-0.2),
                move_start_right: (1.2),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            4117300,
        ])),
        markers: {},
        focused_item: Some((13)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
    animation_enabled: None,
    use_dinotrace_style: None,
    transition_value: None,
)