(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("/home/jtroth/school/26f/ee5327/fft/sim/gen/vcd/current.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "tb_r2_fft_top",
                "uut",
                "gen_stages[7]",
            ],
            id: Wellen((118)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: true,
                ),
                (
                    item_ref: (16),
                    level: 0,
                    unfolded: true,
                    selected: true,
                ),
                (
                    item_ref: (17),
                    level: 0,
                    unfolded: true,
                    selected: true,
                ),
                (
                    item_ref: (18),
                    level: 0,
                    unfolded: true,
                    selected: true,
                ),
                (
                    item_ref: (19),
                    level: 0,
                    unfolded: true,
                    selected: true,
                ),
                (
                    item_ref: (20),
                    level: 0,
                    unfolded: true,
                    selected: true,
                ),
                (
                    item_ref: (21),
                    level: 0,
                    unfolded: true,
                    selected: true,
                ),
                (
                    item_ref: (22),
                    level: 0,
                    unfolded: true,
                    selected: true,
                ),
            ],
        ),
        displayed_items: {
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r2_fft_top",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "m_tdata_re",
                    id: Wellen((3)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "m_tdata_re [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: Some((
                    settings: (
                        render_style: Step,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r2_fft_top",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "s_tdata_im",
                    id: Wellen((2)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "s_tdata_im [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: Some((
                    settings: (
                        render_style: Step,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (16): Placeholder((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r2_fft_top",
                            "uut",
                            "gen_stages[1]",
                        ],
                        id: Wellen((22)),
                    ),
                    name: "stg_out_data",
                    id: r#None,
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…gen_stages[1].stg_out_data [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: Some((
                    settings: (
                        render_style: Step,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r2_fft_top",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "s_tdata_re",
                    id: Wellen((1)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "s_tdata_re [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: Some((
                    settings: (
                        render_style: Step,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (15): Placeholder((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r2_fft_top",
                            "uut",
                            "gen_stages[0]",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "stg_out_data",
                    id: r#None,
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…gen_stages[0].stg_out_data [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: Some((
                    settings: (
                        render_style: Step,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r2_fft_top",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "TWO_PI",
                    id: Wellen((14)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "TWO_PI",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (17): Placeholder((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r2_fft_top",
                            "uut",
                            "gen_stages[2]",
                        ],
                        id: Wellen((38)),
                    ),
                    name: "stg_out_data",
                    id: r#None,
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…gen_stages[2].stg_out_data [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: Some((
                    settings: (
                        render_style: Step,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r2_fft_top",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sample_idx",
                    id: Wellen((21)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "sample_idx [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: Some((
                    settings: (
                        render_style: Step,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r2_fft_top",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "pass_count",
                    id: Wellen((20)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "pass_count [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: Some((
                    settings: (
                        render_style: Step,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r2_fft_top",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "rst_n",
                    id: Wellen((16)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "rst_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (21): Placeholder((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r2_fft_top",
                            "uut",
                            "gen_stages[6]",
                        ],
                        id: Wellen((102)),
                    ),
                    name: "stg_out_data",
                    id: r#None,
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…gen_stages[6].stg_out_data [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: Some((
                    settings: (
                        render_style: Step,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (19): Placeholder((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r2_fft_top",
                            "uut",
                            "gen_stages[4]",
                        ],
                        id: Wellen((70)),
                    ),
                    name: "stg_out_data",
                    id: r#None,
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…gen_stages[4].stg_out_data [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: Some((
                    settings: (
                        render_style: Step,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r2_fft_top",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "m_axis_tvalid",
                    id: Wellen((5)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "m_axis_tvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r2_fft_top",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "m_tdata_im",
                    id: Wellen((4)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "m_tdata_im [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: Some((
                    settings: (
                        render_style: Step,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r2_fft_top",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "s_axis_tdata",
                    id: Wellen((17)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "s_axis_tdata [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: Some((
                    settings: (
                        render_style: Step,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r2_fft_top",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "clk",
                    id: Wellen((15)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (20): Placeholder((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r2_fft_top",
                            "uut",
                            "gen_stages[5]",
                        ],
                        id: Wellen((86)),
                    ),
                    name: "stg_out_data",
                    id: r#None,
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…gen_stages[5].stg_out_data [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: Some((
                    settings: (
                        render_style: Step,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (22): Placeholder((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r2_fft_top",
                            "uut",
                            "gen_stages[7]",
                        ],
                        id: Wellen((118)),
                    ),
                    name: "stg_out_data",
                    id: r#None,
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…gen_stages[7].stg_out_data [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: Some((
                    settings: (
                        render_style: Step,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r2_fft_top",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "fail_count",
                    id: Wellen((19)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "fail_count [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: Some((
                    settings: (
                        render_style: Step,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r2_fft_top",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "s_axis_tvalid",
                    id: Wellen((18)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "s_axis_tvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (18): Placeholder((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_r2_fft_top",
                            "uut",
                            "gen_stages[3]",
                        ],
                        id: Wellen((54)),
                    ),
                    name: "stg_out_data",
                    id: r#None,
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…gen_stages[3].stg_out_data [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: Some((
                    settings: (
                        render_style: Step,
                        y_axis_scale: Viewport,
                    ),
                )),
            )),
        },
        display_item_ref_counter: 22,
        viewports: [
            (
                curr_left: (-0.11999999999999966),
                curr_right: (1.2799999999999998),
                target_left: (-0.2),
                target_right: (1.2),
                move_start_left: (-0.2),
                move_start_right: (1.2),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            12291121,
        ])),
        markers: {},
        focused_item: Some((13)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
    animation_enabled: None,
    use_dinotrace_style: None,
    transition_value: None,
)